{% extends "base.html" %}
{# don't show playlist #}
{% block playlist %}
{% endblock %}
{# don't use autorefresh #}
{% block autorefresh %}
{% endblock %}
{# don't show settings #}
{% block settings %}
{% endblock %}
{% block browse %}
  <table>
    <thead>
      <td>Controls</td>
      <td></td>
      <td>Name</td>
    </thead>
    <tbody>
      {% if path %}
        <tr class="odd">
          <td>
            <div class="controls">
              {{ button("/library/add/" + path,
              symbols.other.add) }}
              {{ button("/library/replace-play/" + path,
              symbols.controls.play) }}
            </div>
          </td>
          <td>{{ symbols.other.folder }}</td>
          <td>
            {{ path }}
          </td>
        </tr>
      {% endif %}
      {% for item in listing %}
        <tr class="{{ loop.cycle('even', 'odd') }}">
          <td>
            {% if item.path is defined %}
              <div class="controls">
                {{ button("/library/add/" + item.path,
                          symbols.other.add) }}
                {{ button("/library/replace-play/" + item.path,
                          symbols.controls.play) }}
              </div>
            {% endif %}
          </td>
          <td>{{ item.icon }}</td>
          <td>
            {% if item.type == "directory" %}
              <a href="/browse/{{ item.path }}">
                {{ item.label }}
              </a>
            {% else %}
              {{ item.label }}
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{# -*- mode: jinja2; -*- #}
